[include]
	path = .borgconfig
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "all-the-icons-completion"]
	path = lib/all-the-icons-completion
	url = https://github.com/iyefrat/all-the-icons-completion
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "browse-at-remote"]
	path = lib/browse-at-remote
	url = https://github.com/rmuslimov/browse-at-remote
[submodule "buffer-move"]
	path = lib/buffer-move
	url = https://github.com/lukhas/buffer-move
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu
[submodule "crux"]
	path = lib/crux
	url = https://github.com/bbatsov/crux
[submodule "delight"]
	path = lib/delight
	url = https://github.com/emacsmirror/delight
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish
[submodule "ef-themes"]
	path = lib/ef-themes
	url = https://github.com/protesilaos/ef-themes
[submodule "ellama"]
	path = lib/ellama
	url = https://github.com/s-kostyaev/ellama
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel
[submodule "llm"]
	path = lib/llm
	url = https://github.com/ahyatt/llm
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "plz"]
	path = lib/plz
	url = https://github.com/alphapapa/plz.el
[submodule "plz-event-source"]
	path = lib/plz-event-source
	url = https://github.com/r0man/plz-event-source
[submodule "plz-media-type"]
	path = lib/plz-media-type
	url = https://github.com/r0man/plz-media-type
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "pulsar"]
	path = lib/pulsar
	url = https://github.com/protesilaos/pulsar
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
