[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql
[submodule "ellama"]
	path = lib/ellama
	url = https://github.com/s-kostyaev/ellama
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel
[submodule "llm"]
	path = lib/llm
	url = https://github.com/ahyatt/llm
[submodule "plz"]
	path = lib/plz
	url = https://github.com/alphapapa/plz.el
[submodule "plz-event-source"]
	path = lib/plz-event-source
	url = https://github.com/r0man/plz-event-source
[submodule "plz-media-type"]
	path = lib/plz-media-type
	url = https://github.com/r0man/plz-media-type
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
