name: "CI"
on:
  schedule:
    - cron: "0 15 * * 5"
  pull_request:
  push:
    branches:
      - master
      - refactor

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        emacs_version: [29.2, 30.1, 30.2, snapshot]

    steps:
    - name: Cache git folder
      uses: actions/cache@v3
      with:
        path: ./.git
        key: git-folder
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}
    - name: Install Homebrew dependencies (on macOS)
      if: matrix.os == 'macos-latest'
      run: env HOMEBREW_NO_AUTO_UPDATE=1 brew install texinfo libtool --formula
    - name: Install Homebrew dependencies (on Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt install cmake libtool libtool-bin -y
    - name: Add texinfo path
      if: matrix.os == 'macos-latest'
      run: echo "/usr/local/opt/texinfo/bin" >> $GITHUB_PATH
    - run: make -f borg.mk bootstrap-fast
    - run: make test
      env:
        ERROR_ON_WARN: t
        EL_GET_SKIP_BYTE_COMPILE: t
